
@{
    ViewData["Title"] = "KorpaStavke";
}

<ul class="list-unstyled">
    <li>
        <div class="basket-item">
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <div class="selected-item">@*<img src="/assets/images/products/product-small-01.jpg" alt="">*@</div>
                    <div class="selected-item-price">$1250.00</div>
                </div><!-- /.col-->
                <div class="col-md-8 col-sm-8">
                    <h4>Adipiscing Elit,Sed do Eiusmod</h4>
                    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do  eiusmod tempor incididunt ut labore</p>
                </div><!-- /.col -->
                <div class="col-md-1 col-sm-1">
                    <a class="cart-item-remove" title="cancel" href="#">
                        <span data-icon="M"></span>
                    </a>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.basket-item -->
    </li>

    <li>
        <div class="basket-item">
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <div class="selected-item">@*<img src="/assets/images/products/product-small-02.jpg" alt="">*@</div>
                    <div class="selected-item-price">$1000.00</div>
                </div><!-- /.col -->
                <div class="col-md-8 col-sm-8">
                    <h4>Do euismod tempor incididunt ut</h4>
                    <p> tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud</p>
                </div><!-- /.col -->
                <div class="col-md-1 col-sm-1">
                    <a class="cart-item-remove" title="cancel" href="#">
                        <span data-icon="M"></span>
                    </a>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.basket-item -->
    </li>
</ul><!-- /.list-unstyled -->

<div class="row">
    <div class="product-actions">
        <a href="index.php?page=detail" class="btn btn-secondary btn-ky">Total:$2000.00</a>
        <a href="index.php?page=checkout" class="btn btn-inverse btn-ky">Continued to checkout</a>
    </div><!-- /.product-actions -->
</div><!-- /.row -->