@model StarosnaGrupa
@{
    ViewData["Title"] = (Model.StarosnaGrupaId == 0 ? "Dodaj" : "Uredi") + " starosnu grupu";
}

<h2>@ViewData["Title"]</h2>


<form action="/Admin/StarosnaGrupa/Snimi" method="post">
    @Html.HiddenFor(x => x.StarosnaGrupaId)
    <table style="width:400px">
        <tbody>
            <tr>
                <td>Naziv:</td>
                <td>@Html.TextBoxFor(x => x.Naziv, new { @class = "form-control", @style = "width: 200px;" })</td>
                <td>@Html.ValidationMessageFor(x => x.Naziv)</td>
            </tr>
        </tbody>
    </table>

    <button type="submit" class="btn btn-success"  style="width: 98px;" >Snimi</button>
</form>
