#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: calc(100vh - 50px);
    background: #333;
    color: #fff;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    position: relative;
}

#sidebar.active {
    margin-left: -250px;
}



    #sidebar .custom-menu {
        display: inline-block;
        position: absolute;
        top: 20px;
        right: 0;
        margin-right: -20px;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s
    }

@media(prefers-reduced-motion:reduce) {
    #sidebar .custom-menu {
        -webkit-transition: none;
        -o-transition: none;
        transition: none
    }
}

#sidebar .custom-menu .btn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
    color: #fff;
}

    #sidebar .custom-menu .btn i {
        margin-right: -40px;
        font-size: 14px
    }

    #sidebar .custom-menu .btn.btn-primary {
        background: 0;
        border-color: transparent
    }

        #sidebar .custom-menu .btn.btn-primary:after {
            z-index: -1;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            content: '';
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            background: #333;
            border-radius: 10px
        }



button.active.focus, button.active:focus,
button.focus, button:active.focus,
button:active:focus, button:focus {
    outline: none;
    box-shadow: none;
}
button:focus {
    outline: 0 !important;
}

#sidebar .custom-menu .btn.btn-primary:hover, #sidebar .custom-menu .btn.btn-primary:focus {
    background: 0 0 !important;
    border-color: transparent !important
}


a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}


@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }

    #sidebar.active {
        margin-left: 0;
    }
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

    #sidebar .sidebar-header {
        /*padding: 20px;
        background: #6d7fcc;*/
    }

    #sidebar ul.components {
        padding: 20px 0;
        /*border-bottom: 1px solid #47748b;*/
    }

    #sidebar ul p {
        color: #fff;
        padding: 10px;
    }

    #sidebar ul li a {
        padding: 10px;
        font-size: 1.1em;
        display: block;
    }

        #sidebar ul li a:hover {
            color: #fff;
            background: lightslategrey;
        }

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: slategrey;
}

#sidebar ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
}
