@{
    ViewData["Title"] = "Kupovina bicikala";
}

<div class="row">
    <!-- ========================================= CONTENT ========================================= -->
    <div class="col-md-9 col-md-push-3">
        <div class="featured-product margin-top-40">
            <div class="row">
                <div class="col-md-5 col-sm-5">
                    <h2 class="page-title no-margin-top text-md-center">Cute French Bully</h2>
                    <p class="page-subtitle text-md-center">Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipisicing elit, sed do eiusmod tempor.</p>
                    <table class="table-product-price">
                        <tr class="row">
                            <td class="col-md-5 col-sm-5">
                                <span class="price">$1000.00</span>
                            </td>
                            <td class="col-md-2 col-sm-2 col-separator-td">
                                <span class="col-separator">&nbsp;</span>
                            </td>
                            <td class="col-md-5 col-sm-5 old-price-container">
                                was <br />
                                <span class="old-price">$1200.00</span>
                            </td>
                        </tr>
                    </table><!-- /table -->
                    <div class="product-actions hidden-xs hidden-sm">
                        <a href="index.php?page=cart" class="btn btn-add-to-cart btn-secondary btn-ky"><img src="assets/images/icon-cart.png" alt="" class="icon-btn" /> Add to cart</a>
                        <a href="index.php?page=detail" class="btn btn-inverse btn-ky">More <span data-icon="&#x35;"></span></a>
                    </div><!-- /.product-actions -->
                </div><!-- /.col -->

                <div class="col-md-7 col-sm-7">
                    <img src="assets/images/blank.gif" data-echo="assets/images/category-product/main-product-01.jpg" alt="Cute French Bully" width="590" height="393" class="img-responsive">
                </div><!-- /.col -->

                <div class="col-md-12 col-sm-12 hidden-lg hidden-md">
                    <div class="product-actions margin-top-20 text-center">
                        <a href="index.php?page=cart" class="btn btn-add-to-cart btn-secondary btn-ky"><img src="assets/images/icon-cart.png" alt="" class="icon-btn" /> Add to cart</a>
                        <a href="index.php?page=detail" class="btn btn-inverse btn-ky">More <span data-icon="&#x35;"></span></a>
                    </div>
                </div><!-- /.col -->
            </div><!-- /.row -->
            <hr />
        </div><!-- /.featured-product -->
        <section id="category-products">
            <h2 class="page-title text-md-center">In this Category</h2>
            <p class="page-subtitle text-md-center">Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim</p>
            <div class="page-section wow fadeInUp">
                <div class="tab-content">
                    <div class="tab-pane active" id="grid">
                        <div class="row">
                            <div class="product-item-column col-md-4 col-sm-4 col-xs-12 col-lg-4">
                                <div class="product-item-grid-view">
                                    <div class="product-item">
                                        <div class="product-image">
                                            <a href="index.php?page=detail">
                                                <img src="assets/images/blank.gif" data-echo="assets/images/category-product/product-01.jpg" width="262" height="202" alt="Product" class="center-block img-responsive">
                                            </a>
                                        </div><!-- /.product-image -->
                                        <div class="product-detail text-md-center">
                                            <h3 class="product-name"><a href="index.php?page=detail">Puppy Bully</a></h3>
                                            <p class="product-price"><span class="price">$1000.00</span></p>
                                        </div><!-- /.product-detail -->
                                    </div><!-- /.product-item -->
                                </div><!-- /.product-item-grid-view -->
                            </div><!-- /.product-item-column -->

                            <div class="product-item-column col-md-4 col-sm-4 col-xs-12 col-lg-4">
                                <div class="product-item-grid-view">
                                    <div class="product-item">
                                        <div class="product-image">
                                            <a href="index.php?page=detail">
                                                <img src="assets/images/blank.gif" data-echo="assets/images/category-product/product-02.jpg" width="262" height="202" alt="Product" class="center-block img-responsive">
                                            </a>
                                        </div><!-- /.product-image -->
                                        <div class="product-detail text-md-center">
                                            <h3 class="product-name"><a href="index.php?page=detail">English Bully</a></h3>
                                            <p class="product-price"><span class="price">$1000.00</span></p>
                                        </div><!-- /.product-detail -->
                                    </div><!-- /.product-item -->
                                </div><!-- /.product-item-grid-view -->
                            </div><!-- /.product-item-column -->

                            <div class="product-item-column col-md-4 col-sm-4 col-xs-12 col-lg-4">
                                <div class="product-item-grid-view">
                                    <div class="product-item">
                                        <div class="product-image">
                                            <a href="index.php?page=detail">
                                                <img src="assets/images/blank.gif" data-echo="assets/images/category-product/product-03.jpg" width="262" height="202" alt="Product" class="center-block img-responsive">
                                            </a>
                                        </div><!-- /.product-image -->
                                        <div class="product-detail text-md-center">
                                            <h3 class="product-name"><a href="index.php?page=detail">French Bully</a></h3>
                                            <p class="product-price"><span class="price">$1000.00</span></p>
                                        </div><!-- /.product-detail -->
                                    </div><!-- /.product-item -->
                                </div><!-- /.product-item-grid-view -->
                            </div><!-- /.product-item-column -->

                            <div class="product-item-column col-md-4 col-sm-4 col-xs-12 col-lg-4">
                                <div class="product-item-grid-view">
                                    <div class="product-item">
                                        <div class="product-image">
                                            <a href="index.php?page=detail">
                                                <img src="assets/images/blank.gif" data-echo="assets/images/category-product/product-04.jpg" width="262" height="202" alt="Product" class="center-block img-responsive">
                                            </a>
                                        </div><!-- /.product-image -->
                                        <div class="product-detail text-md-center">
                                            <h3 class="product-name"><a href="index.php?page=detail">French Bully</a></h3>
                                            <p class="product-price"><span class="price">$1000.00</span></p>
                                        </div><!-- /.product-detail -->
                                    </div><!-- /.product-item -->
                                </div><!-- /.product-item-grid-view -->
                            </div><!-- /.product-item-column -->

                            <div class="product-item-column col-md-4 col-sm-4 col-xs-12 col-lg-4">
                                <div class="product-item-grid-view">
                                    <div class="product-item">
                                        <div class="product-image">
                                            <a href="index.php?page=detail">
                                                <img src="assets/images/blank.gif" data-echo="assets/images/category-product/product-05.jpg" width="262" height="202" alt="Product" class="center-block img-responsive">
                                            </a>
                                        </div><!-- /.product-image -->
                                        <div class="product-detail text-md-center">
                                            <h3 class="product-name"><a href="index.php?page=detail">Puppy Bully</a></h3>
                                            <p class="product-price"><span class="price">$1000.00</span></p>
                                        </div><!-- /.product-detail -->
                                    </div><!-- /.product-item -->
                                </div><!-- /.product-item-grid-view -->
                            </div><!-- /.product-item-column -->

                            <div class="product-item-column col-md-4 col-sm-4 col-xs-12 col-lg-4">
                                <div class="product-item-grid-view">
                                    <div class="product-item">
                                        <div class="product-image">
                                            <a href="index.php?page=detail">
                                                <img src="assets/images/blank.gif" data-echo="assets/images/category-product/product-06.jpg" width="262" height="202" alt="Product" class="center-block img-responsive">
                                            </a>
                                        </div><!-- /.product-image -->
                                        <div class="product-detail text-md-center">
                                            <h3 class="product-name"><a href="index.php?page=detail">English Bully</a></h3>
                                            <p class="product-price"><span class="price">$1000.00</span></p>
                                        </div><!-- /.product-detail -->
                                    </div><!-- /.product-item -->
                                </div><!-- /.product-item-grid-view -->
                            </div><!-- /.product-item-column -->

                            <div class="product-item-column col-md-4 col-sm-4 col-xs-12 col-lg-4">
                                <div class="product-item-grid-view">
                                    <div class="product-item">
                                        <div class="product-image">
                                            <a href="index.php?page=detail">
                                                <img src="assets/images/blank.gif" data-echo="assets/images/category-product/product-07.jpg" width="262" height="202" alt="Product" class="center-block img-responsive">
                                            </a>
                                        </div><!-- /.product-image -->
                                        <div class="product-detail text-md-center">
                                            <h3 class="product-name"><a href="index.php?page=detail">French Bully</a></h3>
                                            <p class="product-price"><span class="price">$1000.00</span></p>
                                        </div><!-- /.product-detail -->
                                    </div><!-- /.product-item -->
                                </div><!-- /.product-item-grid-view -->
                            </div><!-- /.product-item-column -->

                            <div class="product-item-column col-md-4 col-sm-4 col-xs-12 col-lg-4">
                                <div class="product-item-grid-view">
                                    <div class="product-item">
                                        <div class="product-image">
                                            <a href="index.php?page=detail">
                                                <img src="assets/images/blank.gif" data-echo="assets/images/category-product/product-08.jpg" width="262" height="202" alt="Product" class="center-block img-responsive">
                                            </a>
                                        </div><!-- /.product-image -->
                                        <div class="product-detail text-md-center">
                                            <h3 class="product-name"><a href="index.php?page=detail">Puppy Bully</a></h3>
                                            <p class="product-price"><span class="price">$1000.00</span></p>
                                        </div><!-- /.product-detail -->
                                    </div><!-- /.product-item -->
                                </div><!-- /.product-item-grid-view -->
                            </div><!-- /.product-item-column -->

                            <div class="product-item-column col-md-4 col-sm-4 col-xs-12 col-lg-4">
                                <div class="product-item-grid-view">
                                    <div class="product-item">
                                        <div class="product-image">
                                            <a href="index.php?page=detail">
                                                <img src="assets/images/blank.gif" data-echo="assets/images/category-product/product-09.jpg" width="262" height="202" alt="Product" class="center-block img-responsive">
                                            </a>
                                        </div><!-- /.product-image -->
                                        <div class="product-detail text-md-center">
                                            <h3 class="product-name"><a href="index.php?page=detail">English Bully</a></h3>
                                            <p class="product-price"><span class="price">$1000.00</span></p>
                                        </div><!-- /.product-detail -->
                                    </div><!-- /.product-item -->
                                </div><!-- /.product-item-grid-view -->
                            </div><!-- /.product-item-column -->

                        </div><!-- /.row -->
                    </div><!-- /.tab-pane -->


                    <div class="tab-pane" id="list">
                        <div class="row">
                            <div class="product-item-list-view">
                                <div class="row product-item">
                                    <div class="col-md-4 col-sm-4">
                                        <a href="index.php?page=detail">
                                            <img src="assets/images/blank.gif" data-echo="assets/images/category-product/product-01.jpg" width="262" height="202" alt="Product" class="center-block img-responsive">
                                        </a>
                                    </div>
                                    <div class="col-md-8 col-sm-8 text-md-center">
                                        <div class="product-detail">
                                            <h3 class="media-heading product-name"><a href="index.php?page=detail">Puppy Bully</a></h3>
                                            <p class="product-price"><span class="price">$1000.00</span></p>
                                            <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                        </div><!-- /.product-detail -->
                                        <div class="product-actions">
                                            <div class="btn-group">
                                                <a href="index.php?page=cart" class="btn btn-secondary strong uppercase btn-add-to-cart"><img src="assets/images/icon-cart.png" alt="" class="icon-btn" /> Add to cart</a>
                                                <a href="index.php?page=cart" class="btn btn-inverse strong uppercase btn-wishlist"><span data-icon="&#xe030;"></span></a>
                                            </div>

                                        </div><!-- /.product-actions -->
                                    </div><!-- /.col -->
                                </div><!-- /.product-item -->

                                <div class="row product-item">
                                    <div class="col-md-4 col-sm-4">
                                        <a href="index.php?page=detail">
                                            <img src="assets/images/blank.gif" data-echo="assets/images/category-product/product-02.jpg" width="262" height="202" alt="Product" class="center-block img-responsive">
                                        </a>
                                    </div>
                                    <div class="col-md-8 col-sm-8 text-md-center">
                                        <div class="product-detail">
                                            <h3 class="media-heading product-name"><a href="index.php?page=detail">French Bully</a></h3>
                                            <p class="product-price"><span class="price">$1000.00</span></p>
                                            <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                        </div><!-- /.product-detail -->
                                        <div class="product-actions">
                                            <div class="btn-group">
                                                <a href="index.php?page=cart" class="btn btn-secondary strong uppercase btn-add-to-cart"><img src="assets/images/icon-cart.png" alt="" class="icon-btn" /> Add to cart</a>
                                                <a href="index.php?page=cart" class="btn btn-inverse strong uppercase btn-wishlist"><span data-icon="&#xe030;"></span></a>
                                            </div>

                                        </div><!-- /.product-actions -->
                                    </div><!-- /.col -->
                                </div><!-- /.product-item -->

                                <div class="row product-item">
                                    <div class="col-md-4 col-sm-4">
                                        <a href="index.php?page=detail">
                                            <img src="assets/images/blank.gif" data-echo="assets/images/category-product/product-03.jpg" width="262" height="202" alt="Product" class="center-block img-responsive">
                                        </a>
                                    </div>
                                    <div class="col-md-8 col-sm-8 text-md-center">
                                        <div class="product-detail">
                                            <h3 class="media-heading product-name"><a href="index.php?page=detail">English Bully</a></h3>
                                            <p class="product-price"><span class="price">$1000.00</span></p>
                                            <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                        </div><!-- /.product-detail -->
                                        <div class="product-actions">
                                            <div class="btn-group">
                                                <a href="index.php?page=cart" class="btn btn-secondary strong uppercase btn-add-to-cart"><img src="assets/images/icon-cart.png" alt="" class="icon-btn" /> Add to cart</a>
                                                <a href="index.php?page=cart" class="btn btn-inverse strong uppercase btn-wishlist"><span data-icon="&#xe030;"></span></a>
                                            </div>

                                        </div><!-- /.product-actions -->
                                    </div><!-- /.col -->
                                </div><!-- /.product-item -->

                                <div class="row product-item">
                                    <div class="col-md-4 col-sm-4">
                                        <a href="index.php?page=detail">
                                            <img src="assets/images/blank.gif" data-echo="assets/images/category-product/product-04.jpg" width="262" height="202" alt="Product" class="center-block img-responsive">
                                        </a>
                                    </div>
                                    <div class="col-md-8 col-sm-8 text-md-center">
                                        <div class="product-detail">
                                            <h3 class="media-heading product-name"><a href="index.php?page=detail">Puppy Bully</a></h3>
                                            <p class="product-price"><span class="price">$1000.00</span></p>
                                            <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                        </div><!-- /.product-detail -->
                                        <div class="product-actions">
                                            <div class="btn-group">
                                                <a href="index.php?page=cart" class="btn btn-secondary strong uppercase btn-add-to-cart"><img src="assets/images/icon-cart.png" alt="" class="icon-btn" /> Add to cart</a>
                                                <a href="index.php?page=cart" class="btn btn-inverse strong uppercase btn-wishlist"><span data-icon="&#xe030;"></span></a>
                                            </div>

                                        </div><!-- /.product-actions -->
                                    </div><!-- /.col -->
                                </div><!-- /.product-item -->

                                <div class="row product-item">
                                    <div class="col-md-4 col-sm-4">
                                        <a href="index.php?page=detail">
                                            <img src="assets/images/blank.gif" data-echo="assets/images/category-product/product-05.jpg" width="262" height="202" alt="Product" class="center-block img-responsive">
                                        </a>
                                    </div>
                                    <div class="col-md-8 col-sm-8 text-md-center">
                                        <div class="product-detail">
                                            <h3 class="media-heading product-name"><a href="index.php?page=detail">French Bully</a></h3>
                                            <p class="product-price"><span class="price">$1000.00</span></p>
                                            <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                        </div><!-- /.product-detail -->
                                        <div class="product-actions">
                                            <div class="btn-group">
                                                <a href="index.php?page=cart" class="btn btn-secondary strong uppercase btn-add-to-cart"><img src="assets/images/icon-cart.png" alt="" class="icon-btn" /> Add to cart</a>
                                                <a href="index.php?page=cart" class="btn btn-inverse strong uppercase btn-wishlist"><span data-icon="&#xe030;"></span></a>
                                            </div>

                                        </div><!-- /.product-actions -->
                                    </div><!-- /.col -->
                                </div><!-- /.product-item -->
                            </div><!-- /.product-item-grid-view -->

                        </div><!-- /.row-->
                    </div><!-- /.tab-pane -->

                </div><!-- /.tab-content -->
            </div><!-- /.page-section -->

            <div class="page-section clearfix">
                <ul class="pagination">
                    <li><a href="#">&laquo;</a></li>
                    <li><a href="#">1</a></li>
                    <li class="active"><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">&raquo;</a></li>
                </ul><!-- /.pagination -->
            </div><!-- /.pagination holder-->
        </section><!-- /#category-products -->

    </div><!-- /.col-md-9 -->
    <!-- ========================================= CONTENT : END ========================================= -->
    <!-- ========================================= SIDEBAR ========================================= -->
    <div class="col-md-3 col-md-pull-9">

        <aside class="sidebar row">
            <div class="sidebar-section col-sm-4 col-xs-4 col-md-12 col-lg-12">
                <h4 class="sidebar-title">Display</h4>
                <ul class="nav nav-tabs view-switcher" role="tablist" id="myTab">
                    <li class="active"><a href="#grid" role="tab" data-toggle="tab"> <span class="glyphicon glyphicon-th"></span></a></li>
                    <li><a href="#list" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-th-list"></span></a></li>
                </ul><!-- /.nav -->
            </div><!-- /.sidebar section -->
            <div class="sidebar-section col-sm-8 col-xs-8 col-md-12 col-lg-12">
                <h4 class="sidebar-title text-md-center">Sort By</h4>
                <div class="text-md-center">
                    <select name="sort-by" id="sort-by" class="selectpicker sidebar-sort">
                        <option value="1">Name - Asc</option>
                        <option value="2">Name - Desc</option>
                        <option value="3">Price - High to Low</option>
                        <option value="4">Price - Low to High</option>
                    </select>
                </div>
            </div>
            <div class="sidebar-section col-md-12 col-lg-12 col-sm-12 col-xs-12">
            
                <h4 class="sidebar-title text-mute text-md-center">Filter</h4>

                <section class="category">
                    <h4 class="sidebar-title text-md-center">Stanje</h4>
                    <ul class="list-checkbox list-unstyled text-md-center">
                        <li><label class="checkbox"><input type="checkbox" name="Stanje[]" value="Novo"> Novo</label></li>
                        <li><label class="checkbox"><input type="checkbox" name="Stanje[]" value="Polovno"> Polovno</label></li>
                    </ul><!-- /.list-checkbox -->
                </section><!-- /.category -->


                <section class="category">
                    <h4 class="sidebar-title text-md-center">Nožna kočnica</h4>
                    <ul class="list-checkbox list-unstyled text-md-center">
                        <li><label class="checkbox"><input type="checkbox"> Da</label></li>
                        <li><label class="checkbox"><input type="checkbox"> Ne</label></li>
                    </ul><!-- /.list-checkbox -->
                </section><!-- /.category -->

                <section class="proizvodjac">
                    <h4 class="sidebar-title text-md-center">Proizvođač</h4>
                    <ul class="list-checkbox list-unstyled text-md-center">
                        <li><label class="checkbox"><input type="checkbox"> Proizvodjac 1</label></li>
                        <li><label class="checkbox"><input type="checkbox"> Proizvodjac 2</label></li>
                        <li><label class="checkbox"><input type="checkbox"> Proizvodjac 3</label></li>
                    </ul><!-- /.list-checkbox -->
                </section><!-- /.category -->

                <section class="size">
                    <h4 class="sidebar-title text-md-center">Veličina</h4>
                    <select name="sort-by" id="sort-by-size" class="selectpicker sidebar-sort">
                        <option value="1">Puppy</option>
                        <option value="1">Dog</option>
                    </select><!-- /.select -->
                </section><!-- /.size -->

                <section class="color">
                    <h4 class="sidebar-title text-md-center">Boja</h4>
                    <ul class="list-color">
                        <li><label for="color-1" class="radio color-label" data-color="#629c49"><input name="color" id="color-1" type="radio"></label></li>
                        <li><label for="color-2" class="radio color-label" data-color="#f26522"><input name="color" id="color-2" type="radio"></label></li>
                        <li><label for="color-3" class="radio color-label" data-color="#605ca8"><input name="color" id="color-3" type="radio"></label></li>
                        <li><label for="color-4" class="radio color-label" data-color="#a30d65"><input name="color" id="color-4" type="radio"></label></li>
                        <li><label for="color-5" class="radio color-label" data-color="#00aeef"><input name="color" id="color-5" type="radio"></label></li>
                    </ul><!-- /.list-color -->
                </section><!-- /.color -->

                <section class="price">
                    <h4 class="sidebar-title text-md-center">Price</h4>
                    <input type="text" class="slider" value="" data-slider-min="0" data-slider-max="20" data-slider-step="5" data-slider-value="10" data-slider-orientation="horizontal" data-slider-selection="after" data-slider-tooltip="hide">
                </section><!-- /.price -->
            </div><!-- /.section-section  -->
        </aside><!-- /.sidebar -->

    </div><!-- /.col-md-3 -->
    <!-- ========================================= SIDEBAR : END ========================================= -->
</div><!-- /.row -->
<div class="row related-pets-section">
    <div class="col-md-3">
        <div class="section-info">
            <h3 class="section-title text-md-center">Related Pets</h3>
            <p class="section-subtitle text-md-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
            <div class="controls clearfix hidden-xs hidden-sm">
                <a href="#" data-target="#relate-items-carousel" class="btn btn-primary pull-left owl-prev"><span data-icon="&#x23;"></span></a>
                <a href="#" data-target="#relate-items-carousel" class="btn btn-primary pull-right owl-next"><span data-icon="&#x24;"></span></a>
            </div><!-- /.controls -->
        </div><!-- /.section-info -->
    </div><!-- /.col -->

    <div class="col-md-9">
        <div class="row">
            <div class="col-xs-2 col-sm-2 hidden-md hidden-lg no-padding">
                <div class="controls text-right">
                    <a href="#" data-target="#relate-items-carousel" class="btn btn-primary owl-prev"><span data-icon="&#x23;"></span></a>
                </div><!-- /.controls -->
            </div><!-- /.col -->
            <div class="col-xs-8 col-sm-8 col-md-12 col-lg-12">
                <div id="relate-items-carousel" class="grid-view home-owl-carousel">

                    <div class="product-item-column">
                        <div class="product-item-grid-view">
                            <div class="product-item">
                                <div class="product-image">
                                    <a href="index.php?page=detail">
                                        <img src="assets/images/blank.gif" data-echo="assets/images/recent-products/product-01.jpg" width="262" height="202" alt="Product" class="center-block img-responsive">
                                    </a>
                                </div><!-- /.product-image -->
                                <div class="product-detail text-md-center">
                                    <h3 class="product-name"><a href="index.php?page=detail">Puppy Bully</a></h3>
                                    <p class="product-price"><span class="price">$1000.00</span></p>
                                </div><!-- /.product-detail -->
                            </div><!-- /.product-item -->
                        </div><!-- /.product-item-grid-view -->
                    </div><!-- /.product-item-column -->

                    <div class="product-item-column">
                        <div class="product-item-grid-view">
                            <div class="product-item">
                                <div class="product-image">
                                    <a href="index.php?page=detail">
                                        <img src="assets/images/blank.gif" data-echo="assets/images/recent-products/product-02.jpg" width="262" height="202" alt="Product" class="center-block img-responsive">
                                    </a>
                                </div><!-- /.product-image -->
                                <div class="product-detail text-md-center">
                                    <h3 class="product-name"><a href="index.php?page=detail">FrenchBully</a></h3>
                                    <p class="product-price"><span class="price">$1000.00</span></p>
                                </div><!-- /.product-detail -->
                            </div><!-- /.product-item -->
                        </div><!-- /.product-item-grid-view -->
                    </div><!-- /.product-item-column -->

                    <div class="product-item-column">
                        <div class="product-item-grid-view">
                            <div class="product-item">
                                <div class="product-image">
                                    <a href="index.php?page=detail">
                                        <img src="assets/images/blank.gif" data-echo="assets/images/recent-products/product-03.jpg" width="262" height="202" alt="Product" class="center-block img-responsive">
                                    </a>
                                </div><!-- /.product-image -->
                                <div class="product-detail text-md-center">
                                    <h3 class="product-name"><a href="index.php?page=detail">English Bully</a></h3>
                                    <p class="product-price"><span class="price">$1000.00</span></p>
                                </div><!-- /.product-detail -->
                            </div><!-- /.product-item -->
                        </div><!-- /.product-item-grid-view -->
                    </div><!-- /.product-item-column -->

                    <div class="product-item-column">
                        <div class="product-item-grid-view">
                            <div class="product-item">
                                <div class="product-image">
                                    <a href="index.php?page=detail">
                                        <img src="assets/images/blank.gif" data-echo="assets/images/recent-products/product-04.jpg" width="262" height="202" alt="Product" class="center-block img-responsive">
                                    </a>
                                </div><!-- /.product-image -->
                                <div class="product-detail text-md-center">
                                    <h3 class="product-name"><a href="index.php?page=detail">Cute French Bully</a></h3>
                                    <p class="product-price"><span class="price">$1000.00</span></p>
                                </div><!-- /.product-detail -->
                            </div><!-- /.product-item -->
                        </div><!-- /.product-item-grid-view -->
                    </div><!-- /.product-item-column -->

                    <div class="product-item-column">
                        <div class="product-item-grid-view">
                            <div class="product-item">
                                <div class="product-image">
                                    <a href="index.php?page=detail">
                                        <img src="assets/images/blank.gif" data-echo="assets/images/recent-products/product-05.jpg" width="262" height="202" alt="Product" class="center-block img-responsive">
                                    </a>
                                </div><!-- /.product-image -->
                                <div class="product-detail text-md-center">
                                    <h3 class="product-name"><a href="index.php?page=detail">Puppy Bully</a></h3>
                                    <p class="product-price"><span class="price">$1000.00</span></p>
                                </div><!-- /.product-detail -->
                            </div><!-- /.product-item -->
                        </div><!-- /.product-item-grid-view -->
                    </div><!-- /.product-item-column -->

                    <div class="product-item-column">
                        <div class="product-item-grid-view">
                            <div class="product-item">
                                <div class="product-image">
                                    <a href="index.php?page=detail">
                                        <img src="assets/images/blank.gif" data-echo="assets/images/recent-products/product-06.jpg" width="262" height="202" alt="Product" class="center-block img-responsive">
                                    </a>
                                </div><!-- /.product-image -->
                                <div class="product-detail text-md-center">
                                    <h3 class="product-name"><a href="index.php?page=detail">French Bully</a></h3>
                                    <p class="product-price"><span class="price">$1000.00</span></p>
                                </div><!-- /.product-detail -->
                            </div><!-- /.product-item -->
                        </div><!-- /.product-item-grid-view -->
                    </div><!-- /.product-item-column -->

                    <div class="product-item-column">
                        <div class="product-item-grid-view">
                            <div class="product-item">
                                <div class="product-image">
                                    <a href="index.php?page=detail">
                                        <img src="assets/images/blank.gif" data-echo="assets/images/recent-products/product-07.jpg" width="262" height="202" alt="Product" class="center-block img-responsive">
                                    </a>
                                </div><!-- /.product-image -->
                                <div class="product-detail text-md-center">
                                    <h3 class="product-name"><a href="index.php?page=detail">English Bully</a></h3>
                                    <p class="product-price"><span class="price">$1000.00</span></p>
                                </div><!-- /.product-detail -->
                            </div><!-- /.product-item -->
                        </div><!-- /.product-item-grid-view -->
                    </div><!-- /.product-item-column -->

                    <div class="product-item-column">
                        <div class="product-item-grid-view">
                            <div class="product-item">
                                <div class="product-image">
                                    <a href="index.php?page=detail">
                                        <img src="assets/images/blank.gif" data-echo="assets/images/recent-products/product-08.jpg" width="262" height="202" alt="Product" class="center-block img-responsive">
                                    </a>
                                </div><!-- /.product-image -->
                                <div class="product-detail text-md-center">
                                    <h3 class="product-name"><a href="index.php?page=detail">French Bully</a></h3>
                                    <p class="product-price"><span class="price">$1000.00</span></p>
                                </div><!-- /.product-detail -->
                            </div><!-- /.product-item -->
                        </div><!-- /.product-item-grid-view -->
                    </div><!-- /.product-item-column -->

                </div><!-- /#recent-items-carousel -->
            </div><!-- /.col -->
            <div class="col-xs-2 col-sm-2 hidden-md hidden-lg no-padding">
                <div class="controls text-left">
                    <a href="#" data-target="#relate-items-carousel" class="btn btn-primary owl-next"><span data-icon="&#x24;"></span></a>
                </div><!-- /.controls -->
            </div><!-- /.col -->
        </div><!-- /.row -->

    </div>
</div>