@model Dobavljac

<h2>Detalji dobavljaca:</h2>
<hr />

<dl class="dl-horizontal">

    <dt>
        <p style="font-size: 14px"><b>Naziv:</b></p>
    </dt>
    <dd><p style="font-size: 14px">@Model.Naziv</p></dd>

   


</dl>
