@model FahrradladenPrinzenstraße.Web.ViewModels.PrikaziOpremuVM
@{
    ViewData["Title"] = "Kupovina opreme";
}

<div class="row">
    <!-- ========================================= CONTENT ========================================= -->
    <div class="col-md-9 col-md-push-3">
        <div class="featured-product margin-top-40">
            <div class="row">
                <div class="col-md-5 col-sm-5">
                    <h2 class="page-title no-margin-top text-md-center">Cute French Bully</h2>
                    <p class="page-subtitle text-md-center">Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipisicing elit, sed do eiusmod tempor.</p>
                    <table class="table-product-price">
                        <tr class="row">
                            <td class="col-md-5 col-sm-5">
                                <span class="price">$1000.00</span>
                            </td>
                            <td class="col-md-2 col-sm-2 col-separator-td">
                                <span class="col-separator">&nbsp;</span>
                            </td>
                            <td class="col-md-5 col-sm-5 old-price-container">
                                was <br />
                                <span class="old-price">$1200.00</span>
                            </td>
                        </tr>
                    </table><!-- /table -->
                    <div class="product-actions hidden-xs hidden-sm">
                        <a href="index.php?page=cart" class="btn btn-add-to-cart btn-secondary btn-ky"><img src="assets/images/icon-cart.png" alt="" class="icon-btn" /> Dodaj u košaricu</a>
                        <a href="index.php?page=detail" class="btn btn-inverse btn-ky">More <span data-icon="&#x35;"></span></a>
                    </div><!-- /.product-actions -->
                </div><!-- /.col -->

                <div class="col-md-7 col-sm-7">
                    <img src="assets/images/blank.gif" data-echo="assets/images/category-product/main-product-01.jpg" alt="Cute French Bully" width="590" height="393" class="img-responsive">
                </div><!-- /.col -->

                <div class="col-md-12 col-sm-12 hidden-lg hidden-md">
                    <div class="product-actions margin-top-20 text-center">
                        <a href="index.php?page=cart" class="btn btn-add-to-cart btn-secondary btn-ky"><img src="assets/images/icon-cart.png" alt="" class="icon-btn" /> Dodaj u košaricu</a>
                        <a href="index.php?page=detail" class="btn btn-inverse btn-ky">More <span data-icon="&#x35;"></span></a>
                    </div>
                </div><!-- /.col -->
            </div><!-- /.row -->
            <hr />
        </div><!-- /.featured-product -->
        <section id="category-products">
            <h2 class="page-title text-md-center">In this Category</h2>
            <p class="page-subtitle text-md-center">Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim</p>
            <div class="page-section wow fadeInUp">
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_oprema_grid">
                        <div class="row">


                        </div><!-- /.row -->
                    </div><!-- /.tab-pane -->


                    <div class="tab-pane" id="tab_oprema_list">
                        <div class="row">
                            <div class="product-item-list-view">

                            </div><!-- /.product-item-grid-view -->

                        </div><!-- /.row-->
                    </div><!-- /.tab-pane -->

                </div><!-- /.tab-content -->
            </div><!-- /.page-section -->

        </section><!-- /#category-products -->

    </div><!-- /.col-md-9 -->
    <!-- ========================================= CONTENT : END ========================================= -->
    <!-- ========================================= SIDEBAR ========================================= -->
    <div class="col-md-3 col-md-pull-9">
        <form id="filterOpremaForma">
            <aside class="sidebar row">
                <div class="sidebar-section col-sm-4 col-xs-4 col-md-12 col-lg-12">
                    <h4 class="sidebar-title">Način prikaza</h4>
                    <ul class="nav nav-tabs view-switcher" role="tablist" id="myTab">
                        <li class="active"><a href="#tab_oprema_grid" role="tab" data-toggle="tab"> <span class="glyphicon glyphicon-th"></span></a></li>
                        <li><a href="#tab_oprema_list" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-th-list"></span></a></li>
                    </ul><!-- /.nav -->
                </div><!-- /.sidebar section -->
                <div class="sidebar-section col-sm-8 col-xs-8 col-md-12 col-lg-12">
                    <h4 class="sidebar-title text-md-center">Poredaj po</h4>
                    <div class="text-md-center">
                        <select name="Poredak" id="sort-by" class="selectpicker sidebar-sort">
                            <option value="1">Nazivu - A-Z</option>
                            <option value="2">Nazivu - Z-A</option>
                            <option value="3">Cijeni - Najvišoj</option>
                            <option value="4">Cijeni - Najnižoj</option>
                        </select>
                    </div>
                </div>
                <div class="sidebar-section col-md-12 col-lg-12 col-sm-12 col-xs-12">

                    <h4 class="sidebar-title text-mute text-md-center">Filter</h4>





                    <section>
                        <h4 class="sidebar-title text-md-center">Proizvođač</h4>
                        <ul class="list-checkbox list-unstyled text-md-center">
                            @foreach (var proizvodjac in Model.Proizvodjaci)
                            {
                                <li><label class="checkbox"><input type="checkbox" name="ProizvodjacId" value="@proizvodjac.ProizvodjacId"> @proizvodjac.Naziv</label></li>
                            }
                        </ul><!-- /.list-checkbox -->
                    </section><!-- /.category -->
                    @*<section class="price">
                            <h4 class="sidebar-title text-md-center">Price</h4>
                            <input type="text" class="slider" value="" data-slider-min="0" data-slider-max="20" data-slider-step="5" data-slider-value="10" data-slider-orientation="horizontal" data-slider-selection="after" data-slider-tooltip="hide">
                        </section>*@<!-- /.price -->
                </div><!-- /.section-section  -->
            </aside><!-- /.sidebar -->
        </form>

    </div><!-- /.col-md-3 -->
    <!-- ========================================= SIDEBAR : END ========================================= -->
</div><!-- /.row -->
<div class="row related-pets-section">
    <div class="col-md-3">
        <div class="section-info">
            <h3 class="section-title text-md-center">Related Pets</h3>
            <p class="section-subtitle text-md-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
            <div class="controls clearfix hidden-xs hidden-sm">
                <a href="#" data-target="#relate-items-carousel" class="btn btn-primary pull-left owl-prev"><span data-icon="&#x23;"></span></a>
                <a href="#" data-target="#relate-items-carousel" class="btn btn-primary pull-right owl-next"><span data-icon="&#x24;"></span></a>
            </div><!-- /.controls -->
        </div><!-- /.section-info -->
    </div><!-- /.col -->

    <div class="col-md-9">
        <div class="row">
            <div class="col-xs-2 col-sm-2 hidden-md hidden-lg no-padding">
                <div class="controls text-right">
                    <a href="#" data-target="#relate-items-carousel" class="btn btn-primary owl-prev"><span data-icon="&#x23;"></span></a>
                </div><!-- /.controls -->
            </div><!-- /.col -->
            <div class="col-xs-8 col-sm-8 col-md-12 col-lg-12">
                <div id="relate-items-carousel" class="grid-view home-owl-carousel">

                    <div class="product-item-column">
                        <div class="product-item-grid-view">
                            <div class="product-item">
                                <div class="product-image">
                                    <a href="index.php?page=detail">
                                        <img src="assets/images/blank.gif" data-echo="assets/images/recent-products/product-01.jpg" width="262" height="202" alt="Product" class="center-block img-responsive">
                                    </a>
                                </div><!-- /.product-image -->
                                <div class="product-detail text-md-center">
                                    <h3 class="product-name"><a href="index.php?page=detail">Puppy Bully</a></h3>
                                    <p class="product-price"><span class="price">$1000.00</span></p>
                                </div><!-- /.product-detail -->
                            </div><!-- /.product-item -->
                        </div><!-- /.product-item-grid-view -->
                    </div><!-- /.product-item-column -->


                </div><!-- /#recent-items-carousel -->
            </div><!-- /.col -->
            <div class="col-xs-2 col-sm-2 hidden-md hidden-lg no-padding">
                <div class="controls text-left">
                    <a href="#" data-target="#relate-items-carousel" class="btn btn-primary owl-next"><span data-icon="&#x24;"></span></a>
                </div><!-- /.controls -->
            </div><!-- /.col -->
        </div><!-- /.row -->

    </div>
</div>


<a hidden asp-action="UcitajListuOpreme" id="url_aktivni_oprema"></a>

<script>

    var xhr1, xhr2;

    function ucitajOpremu() {
        var forma = $('#filterOpremaForma');

        var filteri = '?' + forma.serialize();

        if (xhr1 != null)
            xhr1.abort();

        if (xhr2 != null)
            xhr2.abort();

        xhr1 = $.get($('#url_aktivni_oprema').attr('href') + filteri, function (data) {
            $('#tab_oprema_grid .row').html(data);
        });


        xhr2 = $.get($('#url_aktivni_oprema').attr('href') + filteri + '&PrikaziKaoListu=true', function (data) {
            $('#tab_oprema_list .product-item-list-view').html(data);
        });
    }

    $("#filterOpremaForma").on('change', 'input,select', function (event) {
        if ($(this).is(':radio') && $(this).prop('checked') == false) {
            return;
        }

        ucitajOpremu();
    });


    $("#category-products").on('click', '.pagination a', function (event) {
        event.preventDefault();

        var forma = $('#filterOpremaForma');

        var new_page = parseInt($(this).data('page'));
        if (isNaN(new_page) || new_page <= 0)
            return;

        var filteri = '?' + forma.serialize();
        filteri += '&Page=' + new_page;

        if (xhr1 != null)
            xhr1.abort();

        if (xhr2 != null)
            xhr2.abort();

        xhr1 = $.get($('#url_aktivni_oprema').attr('href') + filteri, function (data) {
            $('#tab_oprema_grid .row').html(data);
        });


        xhr2 = $.get($('#url_aktivni_oprema').attr('href') + filteri + '&PrikaziKaoListu=true', function (data) {
            $('#tab_oprema_list .product-item-list-view').html(data);
        });
    });

    $(function () {
        ucitajOpremu();
    });


    $("#category-products").on('click', '.btn-add-to-cart', function (event) {
        event.preventDefault();

        var dio_id = $(this).data('id');
        var kolicina = 1;

        $.ajax({
            method: 'POST',
            url: '/Klijent/Oprema/KupiOprema/' + dio_id,
            data: { kolicina: kolicina },
            statusCode: {
                "200": function (data) {
                    if (data.match(/Autentifikacija/)) {
                        window.location.href = '/Autentifikacija';
                    }
                    else {
                        update_shopping_cart_info();
                    }
                },
                "404": function () {
                    alert('Proizvod nije pronađen')
                },
                "400": function () {
                    alert('Proizod nije na stanju u traženoj količini')
                },
            }
        });
    });

</script>