
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <a href="/Admin/Zaposlenik/Index">Zaposlenik</a> |
    <a href="/Admin/Grad/Index">Grad</a> |
    <a href="/Admin/Bicikl/Index">Bicikl</a> |
    <a href="/Admin/Boja/Index">Boja</a> |
    <a href="/Admin/Model/Index">Model</a> |, 

</body>
</html>
