<div id="hero">
    <div id="owl-main" class="owl-carousel home-page-carousel height-lg owl-inner-nav owl-ui-lg owl-theme">
        <div class="item" style="background-image: url(assets/images/sliders/slider02.jpg);">
            <div class="container">
                <div class="caption vertical-center text-center">
                    <div class="big-text fadeInDown-1" style="opacity: 0;">
                        Responsive Petshop HTML
                    </div>
                    <div class="fadeInDown-2 text hidden-xs" style="opacity: 0;">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod <br> tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                    </div>
                    <div class="button-holder fadeInDown-3" style="opacity: 0;">
                        <a class="btn uppercase strong btn-secondary btn-add-to-cart btn-action" href="index.php?page=detail">Add To Cart</a>
                    </div><!-- /.button-holder -->

                </div><!-- /.caption -->
            </div><!-- /.container -->
        </div><!-- /.item -->


        <div class="item" style="background-image: url(assets/images/sliders/slider01.jpg);">
            <div class="container">
                <div class="caption vertical-center text-center">
                    <div class="big-text fadeInDown-1" style="opacity: 0;">
                        Responsive Petshop HTML
                    </div>
                    <div class="fadeInDown-2 text hidden-xs" style="opacity: 0;">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod <br> tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                    </div>
                    <div class="button-holder fadeInDown-3" style="opacity: 0;">
                        <a class="btn uppercase strong btn-secondary btn-add-to-cart btn-action" href="index.php?page=detail">Add To Cart</a>
                    </div><!-- /.button-holder -->
                </div><!-- /.caption -->
            </div><!-- /.container -->
        </div><!-- /.item -->

        <div class="item" style="background-image: url(assets/images/sliders/slider03.jpg);">
            <div class="container">
                <div class="caption vertical-center text-center">
                    <div class="big-text fadeInDown-1" style="opacity: 0;">
                        Responsive Petshop HTML
                    </div>
                    <div class="fadeInDown-2 text  hidden-xs" style="opacity: 0;">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod <br> tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                    </div>
                    <div class="button-holder fadeInDown-3" style="opacity: 0;">
                        <a class="btn uppercase strong btn-secondary btn-add-to-cart btn-action" href="index.php?page=detail">Add To Cart</a>
                    </div><!-- /.button-holder -->
                </div><!-- /.caption -->
            </div><!-- /.container -->
        </div><!-- /.item -->

    </div><!-- /.owl-carousel -->
</div><!-- /#hero -->
<!-- ========================================= SECTION – HERO : END ========================================= -->
<div class="container">

    <div class="page-section block-reinsurance wow fadeInUp">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-6 reinsurance-item">
                <div class="text-center reinsurance-image-container">
                    <span class="reinsurance-icon">
                        <span data-icon="&#xe021;"></span>
                    </span>
                </div><!-- /.text-center -->
                <p class="reinsurance-text">
                    <span class="first">Free</span> <span class="second">Shipping</span>
                </p><!-- /.reinsurance-text -->
            </div><!-- /.col -->

            <div class="col-md-3 col-sm-3 col-xs-6 reinsurance-item">
                <div class="text-center reinsurance-image-container">
                    <span class="reinsurance-icon">
                        <span data-icon="&#xe035;"></span>
                    </span>
                </div><!-- /.text-center -->
                <p class="reinsurance-text">
                    <span class="first">Easy</span> <span class="second">Customize</span>
                </p><!-- /.reinsurance-text -->
            </div><!-- /.col -->

            <div class="col-md-3 col-sm-3 col-xs-6 reinsurance-item">
                <div class="text-center reinsurance-image-container">
                    <span class="reinsurance-icon">
                        <span data-icon="&#xe105;"></span>
                    </span>
                </div><!-- /.text-center -->
                <p class="reinsurance-text">
                    <span class="first">Easy</span> <span class="second">Takecare</span>
                </p><!-- /.reinsurance-text -->
            </div><!-- /.col -->

            <div class="col-md-3 col-sm-3 col-xs-6 reinsurance-item">
                <div class="text-center reinsurance-image-container">
                    <span class="reinsurance-icon">
                        <span data-icon="&#xe028;"></span>
                    </span>
                </div><!-- /.text-center -->
                <p class="reinsurance-text">
                    <span class="first">Lifetime</span> <span class="second">Support</span>
                </p><!-- /.reinsurance-text -->
            </div><!-- /.col -->

        </div><!-- /.row -->
    </div><!-- /.block reinsurance -->

    <div class="page-section wow fadeInUp">
        <div class="row">
            <div class="col-md-3">
                <div class="section-info">
                    <h3 class="section-title text-md-center">Recent Bully</h3>
                    <p class="section-subtitle text-md-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
                    <div class="controls clearfix hidden-xs hidden-sm">
                        <a href="#" data-target="#recent-items-carousel" class="btn btn-primary pull-left owl-prev"><span data-icon="&#x23;"></span></a>
                        <a href="#" data-target="#recent-items-carousel" class="btn btn-primary pull-right owl-next"><span data-icon="&#x24;"></span></a>
                    </div><!-- /.controls -->
                </div><!-- /.section-info -->
            </div><!-- /.col -->

            <div class="col-md-9">
                <div class="row">
                    <div class="col-xs-2 col-sm-2 hidden-md hidden-lg no-padding">
                        <div class="controls text-right">
                            <a href="#" data-target="#recent-items-carousel" class="btn btn-primary owl-prev"><span data-icon="&#x23;"></span></a>
                        </div><!-- /.controls -->
                    </div><!-- /.col -->
                    <div class="col-xs-8 col-sm-8 col-md-12 col-lg-12">
                        <div id="recent-items-carousel" class="grid-view home-owl-carousel">

                            <div class="product-item-column">
                                <div class="product-item-grid-view">
                                    <div class="product-item">
                                        <div class="product-image">
                                            <a href="index.php?page=detail">
                                                <img src="assets/images/blank.gif" data-echo="assets/images/recent-products/product-01.jpg" width="262" height="202" alt="Product" class="center-block img-responsive">
                                            </a>
                                        </div><!-- /.product-image -->
                                        <div class="product-detail text-md-center">
                                            <h3 class="product-name"><a href="index.php?page=detail">Puppy Bully</a></h3>
                                            <p class="product-price"><span class="price">$1000.00</span></p>
                                        </div><!-- /.product-detail -->
                                    </div><!-- /.product-item -->
                                </div><!-- /.product-item-grid-view -->
                            </div><!-- /.product-item-column -->

                            <div class="product-item-column">
                                <div class="product-item-grid-view">
                                    <div class="product-item">
                                        <div class="product-image">
                                            <a href="index.php?page=detail">
                                                <img src="assets/images/blank.gif" data-echo="assets/images/recent-products/product-02.jpg" width="262" height="202" alt="Product" class="center-block img-responsive">
                                            </a>
                                        </div><!-- /.product-image -->
                                        <div class="product-detail text-md-center">
                                            <h3 class="product-name"><a href="index.php?page=detail">FrenchBully</a></h3>
                                            <p class="product-price"><span class="price">$1000.00</span></p>
                                        </div><!-- /.product-detail -->
                                    </div><!-- /.product-item -->
                                </div><!-- /.product-item-grid-view -->
                            </div><!-- /.product-item-column -->

                            <div class="product-item-column">
                                <div class="product-item-grid-view">
                                    <div class="product-item">
                                        <div class="product-image">
                                            <a href="index.php?page=detail">
                                                <img src="assets/images/blank.gif" data-echo="assets/images/recent-products/product-03.jpg" width="262" height="202" alt="Product" class="center-block img-responsive">
                                            </a>
                                        </div><!-- /.product-image -->
                                        <div class="product-detail text-md-center">
                                            <h3 class="product-name"><a href="index.php?page=detail">English Bully</a></h3>
                                            <p class="product-price"><span class="price">$1000.00</span></p>
                                        </div><!-- /.product-detail -->
                                    </div><!-- /.product-item -->
                                </div><!-- /.product-item-grid-view -->
                            </div><!-- /.product-item-column -->

                            <div class="product-item-column">
                                <div class="product-item-grid-view">
                                    <div class="product-item">
                                        <div class="product-image">
                                            <a href="index.php?page=detail">
                                                <img src="assets/images/blank.gif" data-echo="assets/images/recent-products/product-04.jpg" width="262" height="202" alt="Product" class="center-block img-responsive">
                                            </a>
                                        </div><!-- /.product-image -->
                                        <div class="product-detail text-md-center">
                                            <h3 class="product-name"><a href="index.php?page=detail">Cute French Bully</a></h3>
                                            <p class="product-price"><span class="price">$1000.00</span></p>
                                        </div><!-- /.product-detail -->
                                    </div><!-- /.product-item -->
                                </div><!-- /.product-item-grid-view -->
                            </div><!-- /.product-item-column -->

                            <div class="product-item-column">
                                <div class="product-item-grid-view">
                                    <div class="product-item">
                                        <div class="product-image">
                                            <a href="index.php?page=detail">
                                                <img src="assets/images/blank.gif" data-echo="assets/images/recent-products/product-05.jpg" width="262" height="202" alt="Product" class="center-block img-responsive">
                                            </a>
                                        </div><!-- /.product-image -->
                                        <div class="product-detail text-md-center">
                                            <h3 class="product-name"><a href="index.php?page=detail">Puppy Bully</a></h3>
                                            <p class="product-price"><span class="price">$1000.00</span></p>
                                        </div><!-- /.product-detail -->
                                    </div><!-- /.product-item -->
                                </div><!-- /.product-item-grid-view -->
                            </div><!-- /.product-item-column -->

                            <div class="product-item-column">
                                <div class="product-item-grid-view">
                                    <div class="product-item">
                                        <div class="product-image">
                                            <a href="index.php?page=detail">
                                                <img src="assets/images/blank.gif" data-echo="assets/images/recent-products/product-06.jpg" width="262" height="202" alt="Product" class="center-block img-responsive">
                                            </a>
                                        </div><!-- /.product-image -->
                                        <div class="product-detail text-md-center">
                                            <h3 class="product-name"><a href="index.php?page=detail">French Bully</a></h3>
                                            <p class="product-price"><span class="price">$1000.00</span></p>
                                        </div><!-- /.product-detail -->
                                    </div><!-- /.product-item -->
                                </div><!-- /.product-item-grid-view -->
                            </div><!-- /.product-item-column -->

                            <div class="product-item-column">
                                <div class="product-item-grid-view">
                                    <div class="product-item">
                                        <div class="product-image">
                                            <a href="index.php?page=detail">
                                                <img src="assets/images/blank.gif" data-echo="assets/images/recent-products/product-07.jpg" width="262" height="202" alt="Product" class="center-block img-responsive">
                                            </a>
                                        </div><!-- /.product-image -->
                                        <div class="product-detail text-md-center">
                                            <h3 class="product-name"><a href="index.php?page=detail">English Bully</a></h3>
                                            <p class="product-price"><span class="price">$1000.00</span></p>
                                        </div><!-- /.product-detail -->
                                    </div><!-- /.product-item -->
                                </div><!-- /.product-item-grid-view -->
                            </div><!-- /.product-item-column -->

                            <div class="product-item-column">
                                <div class="product-item-grid-view">
                                    <div class="product-item">
                                        <div class="product-image">
                                            <a href="index.php?page=detail">
                                                <img src="assets/images/blank.gif" data-echo="assets/images/recent-products/product-08.jpg" width="262" height="202" alt="Product" class="center-block img-responsive">
                                            </a>
                                        </div><!-- /.product-image -->
                                        <div class="product-detail text-md-center">
                                            <h3 class="product-name"><a href="index.php?page=detail">French Bully</a></h3>
                                            <p class="product-price"><span class="price">$1000.00</span></p>
                                        </div><!-- /.product-detail -->
                                    </div><!-- /.product-item -->
                                </div><!-- /.product-item-grid-view -->
                            </div><!-- /.product-item-column -->

                        </div><!-- /#recent-items-carousel -->
                    </div><!-- /.col -->

                    <div class="col-xs-2 col-sm-2 hidden-md hidden-lg no-padding">
                        <div class="controls text-left">
                            <a href="#" data-target="#recent-items-carousel" class="btn btn-primary owl-next"><span data-icon="&#x24;"></span></a>
                        </div><!-- /.controls -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.recent section -->

    <div class="page-section wow fadeInUp">
        <div class="row">
            <div class="col-md-3">
                <div class="section-info">
                    <h3 class="section-title text-md-center">Popular</h3>
                    <p class="section-subtitle text-md-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
                    <div class="controls clearfix hidden-xs hidden-sm">
                        <a href="#" data-target="#popular-items-carousel" class="btn btn-primary pull-left owl-prev"><span data-icon="&#x23;"></span></a>
                        <a href="#" data-target="#popular-items-carousel" class="btn btn-primary pull-right owl-next"><span data-icon="&#x24;"></span></a>
                    </div><!-- /.controls -->
                </div><!-- /.section-info -->
            </div><!-- /.col-md-3 -->

            <div class="col-md-9">
                <div class="row">
                    <div class="col-xs-2 col-sm-2 hidden-md hidden-lg no-padding">
                        <div class="controls text-right">
                            <a href="#" data-target="#popular-items-carousel" class="btn btn-primary owl-prev"><span data-icon="&#x23;"></span></a>
                        </div><!-- /.controls -->
                    </div><!-- /.col -->
                    <div class="col-xs-8 col-sm-8 col-md-12 col-lg-12">
                        <div id="popular-items-carousel" class="grid-view home-owl-carousel">

                            <div class="product-item-column">
                                <div class="product-item-grid-view">
                                    <div class="product-item">
                                        <div class="product-image">
                                            <a href="index.php?page=detail">
                                                <img src="assets/images/blank.gif" data-echo="assets/images/popular-products/product-01.jpg" width="262" height="202" alt="Product" class="center-block img-responsive">
                                            </a>
                                        </div><!-- /.product-image -->
                                        <div class="product-detail text-md-center">
                                            <h3 class="product-name"><a href="index.php?page=detail">Puppy Bully</a></h3>
                                            <p class="product-price"><span class="price">$1000.00</span></p>
                                        </div><!-- /.product-detail -->
                                    </div><!-- /.product-item -->
                                </div><!-- /.product-item-grid-view -->
                            </div><!-- /.product-item-column -->

                            <div class="product-item-column">
                                <div class="product-item-grid-view">
                                    <div class="product-item">
                                        <div class="product-image">
                                            <a href="index.php?page=detail">
                                                <img src="assets/images/blank.gif" data-echo="assets/images/popular-products/product-02.jpg" width="262" height="202" alt="Product" class="center-block img-responsive">
                                            </a>
                                        </div><!-- /.product-image -->
                                        <div class="product-detail text-md-center">
                                            <h3 class="product-name"><a href="index.php?page=detail">French Bully</a></h3>
                                            <p class="product-price"><span class="price">$1000.00</span></p>
                                        </div><!-- /.product-detail -->
                                    </div><!-- /.product-item -->
                                </div><!-- /.product-item-grid-view -->
                            </div><!-- /.product-item-column -->

                            <div class="product-item-column">
                                <div class="product-item-grid-view">
                                    <div class="product-item">
                                        <div class="product-image">
                                            <a href="index.php?page=detail">
                                                <img src="assets/images/blank.gif" data-echo="assets/images/popular-products/product-03.jpg" width="262" height="202" alt="Product" class="center-block img-responsive">
                                            </a>
                                        </div><!-- /.product-image -->
                                        <div class="product-detail text-md-center">
                                            <h3 class="product-name"><a href="index.php?page=detail">English Bully</a></h3>
                                            <p class="product-price"><span class="price">$1000.00</span></p>
                                        </div><!-- /.product-detail -->
                                    </div><!-- /.product-item -->
                                </div><!-- /.product-item-grid-view -->
                            </div><!-- /.product-item-column -->

                            <div class="product-item-column">
                                <div class="product-item-grid-view">
                                    <div class="product-item">
                                        <div class="product-image">
                                            <a href="index.php?page=detail">
                                                <img src="assets/images/blank.gif" data-echo="assets/images/popular-products/product-04.jpg" width="262" height="202" alt="Product" class="center-block img-responsive">
                                            </a>
                                        </div><!-- /.product-image -->
                                        <div class="product-detail text-md-center">
                                            <h3 class="product-name"><a href="index.php?page=detail">Cute French Bully</a></h3>
                                            <p class="product-price"><span class="price">$1000.00</span></p>
                                        </div><!-- /.product-detail -->
                                    </div><!-- /.product-item -->
                                </div><!-- /.product-item-grid-view -->
                            </div><!-- /.product-item-column -->

                            <div class="product-item-column">
                                <div class="product-item-grid-view">
                                    <div class="product-item">
                                        <div class="product-image">
                                            <a href="index.php?page=detail">
                                                <img src="assets/images/blank.gif" data-echo="assets/images/popular-products/product-05.jpg" width="262" height="202" alt="Product" class="center-block img-responsive">
                                            </a>
                                        </div><!-- /.product-image -->
                                        <div class="product-detail text-md-center">
                                            <h3 class="product-name"><a href="index.php?page=detail">Puppy Bully</a></h3>
                                            <p class="product-price"><span class="price">$1000.00</span></p>
                                        </div><!-- /.product-detail -->
                                    </div><!-- /.product-item -->
                                </div><!-- /.product-item-grid-view -->
                            </div><!-- /.product-item-column -->

                            <div class="product-item-column">
                                <div class="product-item-grid-view">
                                    <div class="product-item">
                                        <div class="product-image">
                                            <a href="index.php?page=detail">
                                                <img src="assets/images/blank.gif" data-echo="assets/images/popular-products/product-06.jpg" width="262" height="202" alt="Product" class="center-block img-responsive">
                                            </a>
                                        </div><!-- /.product-image -->
                                        <div class="product-detail text-md-center">
                                            <h3 class="product-name"><a href="index.php?page=detail">French Bully</a></h3>
                                            <p class="product-price"><span class="price">$1000.00</span></p>
                                        </div><!-- /.product-detail -->
                                    </div><!-- /.product-item -->
                                </div><!-- /.product-item-grid-view -->
                            </div><!-- /.product-item-column -->

                            <div class="product-item-column">
                                <div class="product-item-grid-view">
                                    <div class="product-item">
                                        <div class="product-image">
                                            <a href="index.php?page=detail">
                                                <img src="assets/images/blank.gif" data-echo="assets/images/popular-products/product-07.jpg" width="262" height="202" alt="Product" class="center-block img-responsive">
                                            </a>
                                        </div><!-- /.product-image -->
                                        <div class="product-detail text-md-center">
                                            <h3 class="product-name"><a href="index.php?page=detail">English Bully</a></h3>
                                            <p class="product-price"><span class="price">$1000.00</span></p>
                                        </div><!-- /.product-detail -->
                                    </div><!-- /.product-item -->
                                </div><!-- /.product-item-grid-view -->
                            </div><!-- /.product-item-column -->

                            <div class="product-item-column">
                                <div class="product-item-grid-view">
                                    <div class="product-item">
                                        <div class="product-image">
                                            <a href="index.php?page=detail">
                                                <img src="assets/images/blank.gif" data-echo="assets/images/popular-products/product-08.jpg" width="262" height="202" alt="Product" class="center-block img-responsive">
                                            </a>
                                        </div><!-- /.product-image -->
                                        <div class="product-detail text-md-center">
                                            <h3 class="product-name"><a href="index.php?page=detail">Cute French Bully</a></h3>
                                            <p class="product-price"><span class="price">$1000.00</span></p>
                                        </div><!-- /.product-detail -->
                                    </div><!-- /.product-item -->
                                </div><!-- /.product-item-grid-view -->
                            </div><!-- /.product-item-column -->

                        </div><!-- /#popular-items-carousel -->
                    </div><!-- /.col -->
                    <div class="col-xs-2 col-sm-2 hidden-md hidden-lg no-padding">
                        <div class="controls text-left">
                            <a href="#" data-target="#popular-items-carousel" class="btn btn-primary owl-next"><span data-icon="&#x24;"></span></a>
                        </div>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.col-md-9 -->
        </div><!-- /.row -->
    </div><!-- /.popular section -->



    <div class="row">
        <div class="col-md-4 wow fadeInUp">
            <div class="page-section testimonials-section">
                <h3 class="section-title text-md-center">Testimonials</h3>
                <ul class="list-unstyled list-testimonials">
                    <li>
                        <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</blockquote>
                        <p class="quoter"><span class="name">Kidesigner</span> &ndash; <span class="designation">Web Designer</span></p>
                    </li>
                    <li>
                        <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</blockquote>
                        <p class="quoter"><span class="name">Kidesigner</span> &ndash; <span class="designation">Web Designer</span></p>
                    </li>
                    <li>
                        <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</blockquote>
                        <p class="quoter"><span class="name">Kidesigner</span> &ndash; <span class="designation">Web Designer</span></p>
                    </li>
                </ul><!-- /.list-testimonials -->
            </div><!-- /.page-section -->
        </div><!-- /.testimonials -->

        <div class="col-md-8 wow fadeInUp">
            <div class="page-section videos-section">
                <div class="section-header">
                    <a href="#" class="pull-right hidden-xs hidden-sm">More Videos</a>
                    <h3 class="section-title text-md-center">Videos</h3>
                </div><!-- /.section-header-->
                <iframe id="video-player" class="video-player full-width" style="border:0px;" width="685" height="385" src="//player.vimeo.com/video/19376057"></iframe>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div><!-- /.page-section-->
        </div><!-- /.video section -->
    </div>
</div><!-- /.container -->