@model List<Lokacija>

@{
    ViewData["Title"] = "Prikaz lokacija";
}

<h2>@ViewData["Title"]</h2>


<form class="form-inline">
    <input type="text" name="Pretraga" id="Pretraga" style="display: inline-block; width: 200px;" placeholder="Unesite naziv..." class="form-control col-md-3" />
    <button class="btn btn-success" style="margin-top: 5px; margin-left: 8px;">Pretraga</button>
</form>


<table class="table table-striped">
    <thead>
        <tr>
            <th>Naziv</th>
            <th>Akcija</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count == 0)
        {

            <tr>
                <td colspan="3">Nije pronađeno</td>
            </tr>
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Naziv</td>

                <td>
                    <a href="/Admin/Lokacija/Obrisi?Id=@item.LokacijaId" class="btn btn-danger">Obriši</a> |
                    <a href="/Admin/Lokacija/Uredi?Id=@item.LokacijaId" class="btn btn-warning">Uredi</a>
                </td>
            </tr>

        }
    </tbody>
</table>

<a href="/Admin/Lokacija/Dodaj" class="btn btn-primary">Dodaj</a>


