@model Boja
@{
    ViewData["Title"] = (Model.BojaId == 0 ? "Dodaj" : "Uredi") + " boju";
}

<h2>@ViewData["Title"]</h2>


<form action="/Admin/Boja/Snimi" method="post">
    @Html.HiddenFor(x => x.BojaId)
    <table>
        <tbody>
            <tr>
                <td>Naziv:</td>
                <td>@Html.TextBoxFor(x => x.Naziv, new { @class = "form-control" })</td>
                <td>@Html.ValidationMessageFor(x => x.Naziv)</td>
            </tr>
        </tbody>
    </table>

    <button type="submit" class="btn btn-success">Snimi</button>
</form>
