
@model List<Boja>
@{
    ViewData["Title"] = "Prikaz boja";
}

<h2>@ViewData["Title"]</h2>

<form>


    <input type="text" name="Pretraga" class="form-control col-md-3" />
    <button class="btn btn-success">Pretraga</button>
</form>
<table class="table table-light">
    <thead>
        <tr>
            <th>Naziv</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count == 0)
        {

            <tr>
                <td colspan="3">Nije pronađeno</td>
            </tr>
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Naziv</td>

                <td>
                    <a href="/Admin/Boja/Obrisi?Id=@item.BojaId" class="btn btn-danger">Obriši</a> |
                    <a href="/Admin/Boja/Uredi?Id=@item.BojaId" class="btn btn-warning">Uredi</a>
                </td>
            </tr>

        }
    </tbody>
</table>

<a href="/Admin/Boja/Dodaj" class="btn btn-primary">Dodaj</a>


