@model FahrradladenPrinzenstraße.Web.ViewModels.PrikaziServisVM
@{
    ViewData["Title"] = "Rezerviši termin za servis";
}

<div class="row">
    <!-- ========================================= CONTENT ========================================= -->
    <div class="col-md-9 col-md-push-3">
        <section id="category-products">
            <h2 class="page-title text-md-center">In this Category</h2>
            <p class="page-subtitle text-md-center">Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim</p>
            <div class="page-section wow fadeInUp">
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_servisi_grid">
                        <div class="row">


                        </div><!-- /.row -->
                    </div><!-- /.tab-pane -->

                </div><!-- /.tab-content -->
            </div><!-- /.page-section -->

        </section><!-- /#category-products -->

    </div><!-- /.col-md-9 -->
    <!-- ========================================= CONTENT : END ========================================= -->
  
</div><!-- /.row -->

<a hidden asp-action="UcitajListuServisa" id="url_lista_servisa"></a>

<script>

    var xhr1, xhr2;

    function ucitajServise() {
        if (xhr1 != null)
            xhr1.abort();

        if (xhr2 != null)
            xhr2.abort();

        xhr1 = $.get($('#url_lista_servisa').attr('href'), function (data) {
            $('#tab_servisi_grid .row').html(data);
        });

    }

    $("#category-products").on('click', '.pagination a', function (event) {
        event.preventDefault();

        var new_page = parseInt($(this).data('page'));
        if (isNaN(new_page) || new_page <= 0)
            return;

        var filteri = '?Page=' + new_page;

        if (xhr1 != null)
            xhr1.abort();

        if (xhr2 != null)
            xhr2.abort();

        xhr1 = $.get($('#url_lista_servisa').attr('href') + filteri, function (data) {
            $('#tab_servisi_grid .row').html(data);
        });

    });

    $(function () {
        ucitajServise();
    });

</script>