
@model List<Model>
    @{
        ViewData["Title"] = "Prikaz modela";
    }

    <h2>@ViewData["Title"]</h2>

    <form>


        <input type="text" name="Pretraga" class="form-control col-md-3" />
        <button class="btn btn-success">Pretraga</button>
    </form>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Naziv</th>
                <th>Akcija</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count == 0)
            {

                <tr>
                    <td colspan="3">Nije pronađeno</td>
                </tr>
            }
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Naziv</td>

                    <td>
                        <a href="/Admin/Model/Obrisi?Id=@item.ModelId" class="btn btn-danger">Obriši</a> |
                        <a href="/Admin/Model/Uredi?Id=@item.ModelId" class="btn btn-warning">Uredi</a>
                    </td>
                </tr>

            }
        </tbody>
    </table>

    <a href="/Admin/Model/Dodaj" class="btn btn-primary">Dodaj</a>


