@model FahrradladenPrinzenstrasse.Web.Areas.Zaposlenik.ViewModels.PrikaziOpremuVM

<table class="table table-striped">
    <thead>
        <tr>
            <th>Naziv</th>
            <th>Cijena</th>
            <th>Proizvođač</th>
            <th>Količina</th>
            <th>Akcija</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Oprema.Count == 0)
        {

            <tr>
                <td colspan="5">Nije pronađeno</td>
            </tr>
        }
        @foreach (var item in Model.Oprema)
        {
            <tr>
                <td>@item.Naziv</td>
                <td>@item.Cijena.ToString("0.00") KM</td>
                <td>@item.Proizvodjac</td>
                <td>@item.Kolicina</td>

                <td>
                    @if (item.Aktivan)
                    {
                        <a href="/Zaposlenik/Oprema/Uredi/@item.OpremaId  " class="btn btn-warning">Uredi</a>
                        <a href="/Zaposlenik/Oprema/DeaktivirajOpremu/@item.OpremaId" class="btn btn-danger ajax-btn">Deaktiviraj</a>
                    }
                    else
                    {
                        <a href="/Zaposlenik/Oprema/AktivirajOpremu/@item.OpremaId" class="btn btn-success ajax-btn">Aktiviraj</a>
                        <a href="/Zaposlenik/Oprema/IzbrisiOpremu/@item.OpremaId" class="btn btn-danger ajax-btn">Izbriši</a>
                    }

                </td>
            </tr>

        }
    </tbody>
</table>