/* lobster-regular - latin */
@font-face {
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/lobster-v20-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Lobster Regular'), local('Lobster-Regular'), url('../fonts/lobster-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/lobster-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/lobster-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/lobster-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/lobster-v20-latin-regular.svg#Lobster') format('svg'); /* Legacy iOS */
}
/*===================================================================================*/
/*  Orange Color
/*===================================================================================*/
.primary-color {
  color: #f59a00;
}
.primary-color-fill {
  fill: #f59a00;
}
.logo-fill-1 {
  fill: #f27923;
}
.logo-fill-2 {
  fill: #f48b40;
}
.logo-fill-3 {
  fill: #faccab;
}
a,
a:hover,
a:focus,
a:active {
  color: #f59a00;
}
::-moz-selection {
  background-color: #f59a00;
}
::selection {
  background-color: #f59a00;
}
.content-404 .info-404 h1 {
  color: #f59a00;
}
.content-404 .info-404 .primary-link {
  color: #f59a00;
}
.table-cart-summary .unit-price {
  color: #f59a00;
}
.table-cart-summary .final-total .final-total-value {
  color: #f59a00;
}
.order-box .btn-wishlist {
  color: #f59a00;
}
.order-box .selectpicker {
  border-color: #f59a00;
}
.order-box .selectpicker .caret {
  color: #f59a00;
}
.block-reinsurance .reinsurance-item {
  background-color: #fde9db;
}
.block-reinsurance .reinsurance-item .reinsurance-image-container .reinsurance-icon {
  color: #f59a00;
}
.block-reinsurance .reinsurance-item:nth-child(even) {
  /*background-color: #bbdea2;*/
  background-color: #fbd7bd;
}
.quoter .name {
  color: #f59a00;
}
.videos-section .section-title {
  color: #f59a00;
}
.order-steps > li:before {
  background-color: #f59a00;
}
.order-steps > li:after {
  border-top: 2px solid #f59a00;
}
.footer .module .module-header .module-title {
  color: #f59a00;
}
.footer address strong {
  color: #f59a00;
}
.footer .btn {
  color: #f59a00;
}
.footer .list-link > li > a:before {
  background-color: #f59a00;
}
.footer .navbar-footer {
  background-color: #f59a00;
  color: #FFF;
}
.footer .navbar-footer .nav > li > a:hover {
  background-color: #f59a00;
}
.sidebar .view-switcher li.active > a {
  color: #f59a00;
}
.sidebar .sidebar-sort .btn {
  border-color: #f59a00;
}
.btn-primary-light {
  background-color: #f7ad78;
}
.btn-primary-very-light {
  background-color: #facdad;
}
.primary {
  color: #f59a00;
}
.btn-primary {
  background-color: #f59a00;
  border-color: #f59a00;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: #ee6c0e;
  border-color: #e5670e;
}
/*.dropdown-toggle.btn-primary{
	background-color: @primary-color;
	border-color: darken(@primary-color, 2%);
}*/
.list-kybully > li:before {
  background-color: #facdad;
}
.pagination > li.active > a,
.pagination > li.active > span {
  border-color: #f59a00;
  color: #f59a00;
}
.pagination > li.active > a:hover,
.pagination > li.active > span:hover,
.pagination > li.active > a:active,
.pagination > li.active > span:active,
.pagination > li.active > a:focus,
.pagination > li.active > span:focus {
  background-color: #f59a00;
  border-color: #f59a00;
}
.header {
    background-color: #f59a00;
    color: #FFF;
}

.header {
  border-top: 0;
}
.header .nav-header-link > li > a,
.header .nav-header-link > li > a:hover,
.header .nav-header-link > li > a:focus,
.header .nav-header-link > li > a:active {
  color: #FFF;
}
.header .nav-header-link > li:after {
  border-right: 3px solid #f7ad78;
}
    .header .nav-header-link .total-cart-amount, .header .nav-header-link .total-termin-amount {
        color: #f59a00;
    }
.header .btn-shopping-cart {
  background-color: #f59a00;
  color: #FFF;
}
.header .navbar-primary {
  background-color: #333;
  color: #FFF;
}
.header .navbar-primary .nav > li > a:hover,
.header .navbar-primary .nav > li > a:focus,
.header .navbar-primary .nav > li > a:active {
  /*background-color: #f59a00;*/
  /*border-top: 5px solid #e5670e;*/
  background-color: transparent;
  border-top: 5px solid transparent;
}
.header .navbar-primary .nav > li > .dropdown-menu {
  background-color: #f59a00;
}
.header .navbar-primary .nav > li > .dropdown-menu > li > a:hover {
  /*background-color: #e5670e;*/
  border-top: 0;
}
.header .navbar-primary .nav .open > a,
.header .navbar-primary .nav .open > a:hover,
.header .navbar-primary .nav .open > a:focus,
.header .navbar-primary .nav .open > a:active {
    /*background-color: #f59a00;*/
    /*border-top: 5px solid #e5670e;*/
    background-color: transparent;
    border-top: 5px solid transparent;
}

.header .site-name {
    font-size: 2.7em;
    font-family: Lobster, Oswald, Verdana, Arial, sans-serif;
    color: #000;
    line-height: 1em;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
}
@media (min-width:768px) {
    .header .text-md-center {
        text-align: center;
    }
}

.header .logo {
    margin-top: 8px;
    margin-bottom: 8px;
}
.header .logo img {
    height: 130px;
}
@media (max-width:768px) {
    .header .logo img {
        height: 150px;
    }
}
.slider-track {
    background-color: #f59a00;
}
.yamm .menu-items > li:before {
  background-color: #facdad;
}
.primary-text-bg {
  background-color: #f59a00;
  color: #FFF;
}
.highlight-navbar-primary-link {
  background-color: #f59a00;
  border-top: 5px solid #e5670e;
}
.checkbox.primary .icons,
.radio.primary .icons {
  color: #f59a00;
}
#owl-main .owl-controls .owl-pagination .owl-page:active span,
#owl-main .owl-controls .owl-pagination .owl-page:hover span {
  background: #f59a00;
}
.owl-prev,
.owl-next {
  background: #f59a00;
}
.home-page-carousel .owl-controls .owl-pagination .owl-page span:hover,
.home-page-carousel .owl-controls .owl-pagination .owl-page.active span {
  background: #f59a00;
}
.cart-modal-content .modal-header .modal-title .icon {
  color: #f59a00;
}
.cart-modal-content .modal-body h4 {
  color: #f59a00;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background: #f59a00;
  border: 1px solid #f7ad78;
}
.block-search .input-group .form-control {
  background: #facdad;
  border: #facdad;
}
.header .navbar-primary {
  /*border-bottom: 1px solid #b5520b;*/
  border-bottom: 0;
}
.table-cart-summary .cart-item-quantity .btn:hover,
.table-cart-summary .cart-item-quantity .btn:focus {
  color: #f59a00;
}


.product-quantity-container .btn-group {
    display: block !important;
}
.nav-header-link  li {
    font-size: 16px;
}

.header .nav-header-link > li:after {
    display: none;
}

.navbar-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}

.table-cart-summary .media img {
    max-width: 262px;
    max-height: 202px;
}

#sidebar li {
    position: relative;
    width: 100%;
    z-index: 1000;
}

.error {
    color: red !important;
}

input.error {
    border: 1px solid red !important;
}

.noborder {
    border: 0 !important;
}
.nopadding {
    padding: 0 !important;
}